{% load static %}

<meta charset="utf-8">
<title>Trojsten Graph</title>

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'people/css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'people/css/graph.css' %}" type="text/css"/>
{% endblock %}

<body>
{% block content %}
    {% block messages %}
        {% if messages %}
            <ul class="messagelist">{% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}
{% endblock %}
</body>
