{% extends "people/base.html" %}
{% load static %}
{% load l10n %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block toolbar %}{% endblock %}
{% block content %}
    {{ block.super }}
    <div class="row text-white">
        <div class="col-xl-5 col-lg-7 col-md-8 col-sm-9 col-xs-10 mx-auto text-center p-4">
            <h3>Zber emailov</h3>
            <p>
                {% translate 'Gathered emails will be used exclusively to inform and apologize to people that have at some point been in the Graph and will be deleted afterwards' %}
            </p>

            <form id="form-container" method="POST">
                {% csrf_token %}
                <div class="row border border-success rounded p-4 mb-3 ">
                    {% for field in author_form %}
                        {% if field.name != 'captcha' %}
                            <div class="col-sm-6">
                                <b>{{ field.label_tag }}</b> {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                {{ form.management_form }}

                <div class="emails-form border border-success rounded p-4 mb-3">
                    {% for email in form %}
                        <div class="row">
                            {% for field in email %}
                                <div class="col-sm-4">
                                    <b>{{ field.label_tag }}</b> {{ field }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>

                <div class="limiter"></div>

                <div class="row text-center mx-auto">
                    {% for field in author_form %}
                        {% if field.name == 'captcha' %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                </div>



                <button class="btn-lg btn-trihedron mx-5" id="add-form"
                        type="button">{% translate 'Add another' %}</button>
                <input class="btn-lg btn-success" type="submit" name="save" value="{% translate 'Submit' %}"/>
            </form>
        </div>
    </div>
{% endblock %}

{% block tail_scripts %}
    {{ block.super }}
    <script>
        let form = document.querySelectorAll(".emails-form")
        let container = document.querySelector("#form-container")
        let addButton = document.querySelector("#add-form")
        let totalForms = document.querySelector("#id_form-TOTAL_FORMS")
        let limiter = document.querySelector('.limiter')

        let formNum = form.length - 1
        addButton.addEventListener('click', addForm)

        function addForm(e) {
            e.preventDefault()

            let newForm = form[0].cloneNode(true)
            let formRegex = RegExp(`form-(\\d){1}-`, 'g')

            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
            container.insertBefore(newForm, limiter)

            totalForms.setAttribute('value', `${formNum + 1}`)
        }
    </script>
{% endblock %}