{% extends "people/base.html" %}
{% load static %}

{% block extrahead %}

    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.4.6/fuse.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/Dogfalo/materialize@master/extras/noUiSlider/nouislider.min.js"></script>

    <script src="{% static 'people/js/graph_enums.js' %}"></script>
    <script src="{% static 'people/js/graph_utils.js' %}"></script>
    <script src="{% static 'people/js/graph.js' %}"></script>

    <link rel="stylesheet" href="{% static 'people/css/nouislider.css' %}" type="text/css"/>
    {{ block.super }}
{% endblock %}

{% block content %}
    <div id="container"></div>
    <div class="user-actions">
        <a href="{% url 'about' %}" class="btn btn-trojsten">About & Help</a>
        <a href="{% url 'content_update_submit' %}" class="btn btn-trojsten">Request content update</a>
        <a href="{% url 'logout' %}" class="btn btn-trojsten">Log out</a>
    </div>
    <script>
        const params = new URLSearchParams(window.location.search);
        const request = new XMLHttpRequest();
        request.overrideMimeType("application/json");
        request.open('GET', "{% url 'graph_data' %}" + "?" + params.toString(), true);
        request.onreadystatechange = function () {
            if (request.readyState === 4 && request.status === 200) {
                initializeGraph(JSON.parse(request.responseText));
            }
        };
        request.send(null);
    </script>
{% endblock %}
