{% load static %}

<html>
<meta charset="utf-8">
<title>Trojsten Graph</title>
<script src="https://d3js.org/d3-force.v2.min.js"></script>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="{% static 'people/graph_utils.js' %}"></script>

<body style="margin: 0; padding: 0">
<canvas id="graph-canvas"></canvas>
<script>
    const canvas = document.getElementById('graph-canvas');
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;

    d3.json("{% url 'graph_data' %}", function (error, data) {
        const graph = new TrojstenGraph(data, canvas, {bg_url: '{% static "people/texture.png" %}'})
    });
</script>
</body>
