{% extends "people/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        {% block messages %}
            {{ block.super }}
        {% endblock %}
        <div class="row text-white">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-8 mx-auto text-center form p-4">
                <h2>Trojsten Graph</h2>
                <br>
                <div class="px-2">
                    <form action="" class="justify-content-center" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-lg btn-trojsten">Login</button>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="{% url 'registration' %}" class="btn btn-trojsten">Register</a>
                            </div>
                            <div class="col-sm-6">
                                <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn btn-trojsten google-login">
                                    <img src="{% static 'people/img/google.svg' %}" width="24">
                                    Login
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}