{% extends 'people/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row text-white">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-8 mx-auto text-center form p-4">
                <h2>Registration</h2>
                <br>
                <div class="px-2">
                    <form action="" class="justify-content-center" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-trojsten btn-lg">Register</button>
                    </form>
                </div>
                <br><br>
                <div>
                    <p>
                        Note: registration is by default possible only for holders of @ksp.sk, @kms.sk, @fks.sk and
                        @trojsten.sk email addresses.
                    </p>
                    <p>
                        If you do not own any of those but are convinced that you should be able to access the Graph,
                        contact the administrator
                        at <a href="mailto:nina@ksp.sk" target="_top">nina@ksp.sk</a> and you might receive an invite
                        link.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
