{% extends "people/base.html" %}

{% block content %}
    <div class="container">
        <div class="row text-white">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-8 mx-auto text-center form p-4">
                <h2>Suggestion submit</h2>
                {% block messages %}
                    {{ block.super }}
                {% endblock %}
                <div class="px-2">
                    <form action="" class="justify-content-center" method="post">
                        {% csrf_token %}
                        {{ form.suggestion.errors }}
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <input type="text" class="form-control" name="{{ form.suggestion.html_name }}"
                                       id="{{ form.suggestion.id_for_label }}"/>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-trojsten btn-lg">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}