{% extends "people/base.html" %}

{% block content %}
    <div class="container" style="text-align: center">
        {% block messages %}
            {% if messages %}
            <ul class="messagelist">{% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
            {% endif %}
        {% endblock messages %}

        <form method="post">
            {% csrf_token %}
            <div>
                <h4>Please type your suggestion below</h4>
            </div>
            <div>
                {{ form.suggestion }}
            </div>
            <div>
                <button class='btn btn-success' type="submit">Submit</button>
            </div>
        </form>
    </div>
{% endblock %}