{% extends "people/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        {% block messages %}
            {{ block.super }}
        {% endblock %}
        <form method="post">
            {% include "people/content_management/navigation.html" with active="groups" %}
            <div class="row text-white form">
                {% csrf_token %}
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-8 mx-auto text-center form p-4">
                    <h3>Group Memberships</h3>
                    {{ form.management_form }}
                    {% for membership in form %}
                        <h4>{{ membership.instance.group }}</h4>
                        <table>
                            {{ membership.as_table }}
                        </table>
                    {% endfor %}

                    <input class="btn-lg" type="submit" name="save" value="Save changes"/>
                </div>
            </div>
        </form>
    </div>
{% endblock %}