<div class="row d-flex justify-content-between">
    <a href="{% url 'person-content-management' %}" class="btn btn-{% if active != 'person' %}outline-{% endif %}success btn-lg">Personal info</a>
    <a href="{% url 'relationships-content-management' %}" class="btn btn-{% if active != 'relationships' %}outline-{% endif %}success btn-lg">Relationships</a>
    <a href="{% url 'groups-content-management' %}" class="btn btn-{% if active != 'groups' %}outline-{% endif %}success btn-lg">Group memberships</a>
    <a href="{% url 'deletion-content-management' %}" class="btn btn-{% if active != 'deletion' %}outline-{% endif %}success btn-lg">Account deletion</a>
</div>
