{% extends "people/content_management/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_content %}
    {{ block.super }}
    <div class="row text-white">
        <div class="col-xl-4 col-lg-6 col-md-7 col-sm-10 col-xs-12 mx-auto text-center p-4">
            <h3>Relationship with
                {% if managed_user == form.instance.first_person %}
                    <h2>{{ form.instance.second_person }}</h2>
                {% else %}
                    <h2>{{ form.instance.first_person }}</h2>
                {% endif %}
            </h3>
            <form method="post" >
                {{ form.management_form }}
                {% csrf_token %}
                {% for status in form %}
                    <hr class="divider">
                    <div class="border border-success rounded p-4">
                        {{ status|crispy }}
                    </div>

                {% endfor %}

                <hr>

                <input class="btn-lg btn-success" type="submit" name="save" value="Save changes"/>
            </form>
        </div>
    </div>

{% endblock %}