html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background: #222 url("../texture.png");
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.info-sidebar {
    position: relative;
    float: right;
    pointer-events: none;
    text-align: center;
    padding: 15px;
}

.info-sidebar > * {
    pointer-events: all;
    text-align: center;
    margin: 0 0 50px 0;
    background-color: #5f7de4;
}

.sidebar-container {
    border-top-left-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
}

.graph-toolbar {
    position: absolute;
    left: 0;
    pointer-events: none;
    transition: transform 0.5s;
    transform:translateX(-80%);
}

.graph-toolbar:hover {
    transform:translateX(0%);
}

.tool-container {
    pointer-events: all;
    text-align: center;
    background-color: #5f7de4;
    padding: 15px 40px 15px 40px;
    border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
}

.tool-container > *:not(:first-child) {
    margin: 30px 0 0 0;
}

.filter-group {
    text-align: left;
}

.timeline-panel {
    position: absolute;
    bottom: 40px;
    left: 10%;
    width: 80%;
}

li {
    margin-bottom: 10px;
}

.wrapper {
    display: block;
}

.user-actions {
   padding: 10px;
   position: absolute;
   top: 0;
   right: 0;
}

.user-actions > *:not(:first-child) {
    margin: 0 0 0 20px;
}

.footer {
   color: #888;
   width: 100%;
   text-align: center;
   position: absolute;
   bottom: 0;
}

.btn-trojsten {
    background-color: #5f7de4;
    border-color: #5f7de4;
}